In [1]:
import os
import pandas as pd
from typing import Tuple, Union
import sys
sys.path.append('..')
from finpie.data.timeseries import TimeSeries
from finpie.data.multitimeseries import MultiTimeSeries
from finpie.datasource.service import DataService

In [7]:
data_service = DataService.create_default_service()

# Define parameters for data fetching
symbol = "WIN$N"  # Change to your desired symbol
start_date = "2022-01-01"  # Adjust as needed
end_date = "2025-05-16"    # Adjust as needed
interval = "1m"            # 1-minute data

In [8]:
ts_object = data_service.get_close_prices(
        symbol=symbol,
        source='mt5',
        start_date=start_date,
        end_date=end_date,
        interval=interval
    )

In [12]:
ts_object.data

                        close
time
2022-01-03 09:00:00  106360.0
2022-01-03 09:01:00  106400.0
2022-01-03 09:02:00  106310.0
2022-01-03 09:03:00  106320.0
2022-01-03 09:04:00  106260.0
...                       ...
2025-05-15 18:20:00  140995.0
2025-05-15 18:21:00  141005.0
2025-05-15 18:22:00  141005.0
2025-05-15 18:23:00  141020.0
2025-05-15 18:24:00  141075.0

[463719 rows x 1 columns]